<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>100</string>
		<key>interName</key>
		<string>快讯服务器、报价服务器、k线服务器</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>101</string>
		<key>interName</key>
		<string>上传token</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>102</string>
		<key>interName</key>
		<string>设置标签</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>103</string>
		<key>interName</key>
		<string>更新地理位置</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>104</string>
		<key>interName</key>
		<string>绑定用户UID</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>105</string>
		<key>interName</key>
		<string>解除绑定用户UID</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>106</string>
		<key>interName</key>
		<string>刷新重试</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>107</string>
		<key>interName</key>
		<string>创意截屏</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>108</string>
		<key>interName</key>
		<string>表格1</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>109</string>
		<key>interName</key>
		<string>表格2</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>110</string>
		<key>interName</key>
		<string>表格3</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>111</string>
		<key>interName</key>
		<string>表格4</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>112</string>
		<key>interName</key>
		<string>表格5头部顶上</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>113</string>
		<key>interName</key>
		<string>表格6分组</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>114</string>
		<key>interName</key>
		<string>首页</string>
	</dict>
</array>
</plist>
