<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photoID</key>
		<string>101</string>
		<key>name</key>
		<string>单肩包</string>
		<key>icon</key>
		<string>xiekuabao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>102</string>
		<key>name</key>
		<string>短靴</string>
		<key>icon</key>
		<string>liantiaobao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>103</string>
		<key>name</key>
		<string>帆布鞋</string>
		<key>icon</key>
		<string>liantiaobao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>104</string>
		<key>name</key>
		<string>高跟鞋</string>
		<key>icon</key>
		<string>liantiaobao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>105</string>
		<key>name</key>
		<string>开衫</string>
		<key>icon</key>
		<string>xiekuabao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>106</string>
		<key>name</key>
		<string>链条包</string>
		<key>icon</key>
		<string>liantiaobao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>107</string>
		<key>name</key>
		<string>毛衣</string>
		<key>icon</key>
		<string>xiekuabao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>108</string>
		<key>name</key>
		<string>钱包</string>
		<key>icon</key>
		<string>qianbao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>109</string>
		<key>name</key>
		<string>手提包</string>
		<key>icon</key>
		<string>shoutibao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>110</string>
		<key>name</key>
		<string>双肩包</string>
		<key>icon</key>
		<string>shuangjianbao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>111</string>
		<key>name</key>
		<string>斜挎包</string>
		<key>icon</key>
		<string>xiekuabao.png</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>121</string>
		<key>name</key>
		<string>运动鞋</string>
		<key>icon</key>
		<string>xiekuabao.png</string>
	</dict>
</array>
</plist>
